function Main.main 1
call Interfase.drawInterfase 0
pop temp 0
push constant 180
push constant 16
call LineWithSquare.new 2
pop local 0
push constant 180
push constant 16
call LineWithSquare.new 2
pop local 0
push constant 180
push constant 16
call LineWithSquare.new 2
pop local 0
push constant 180
push constant 16
call LineWithSquare.new 2
pop local 0
push constant 180
push constant 16
call LineWithSquare.new 2
pop local 0
push constant 180
push constant 16
call LineWithSquare.new 2
pop local 0
push constant 0
return
